

  
  <div class="w-10/12 mx-auto ">
    <div class="content h-screen grid grid-cols-1 lg:grid-cols-2">
      
        <div class="side-img hidden lg:flex justify-center items-center flex-col">
        <div class="font-serif text-6xl text-orange-300">Memory Vault</div>
        <img src="todo.png" alt="">
      </div>

      <div class="details border-4 rounded-lg bg-white my-4 shadow-md">
            <div class="header flex justify-between p-5 border-b-2">
                <h1 class="text-5xl text-style">Just do it!</h1>
                <button type="button" class="bg-blue-600 w-32 h-10 rounded-lg text-white" 
                (click)="addTask()">
                <i class="bi bi-plus-circle-dotted"></i> 
                Add Task</button>
            </div>
            

           
                <div *ngIf="storeRecord !== []"  class="p-5 activity overflow-y-scroll">
                    <div  *ngFor="let item of storeRecord; track $index" [ngClass]="item.status === 'new' ? 'card' : 'card-completed-task'">
                        <div class="title font-bold ">
                            {{item.title}} <span class="ms-5 font-extralight text-sm ">{{item.date }}</span>
                        </div>
                        <div class="flex justify-between items-center"> 
                        <div class="w-3/4 whitespace-normal break-words">
                            {{item.description}}
                        </div>
                        <div class=" w-1/4 task-icon flex justify-around">
                            <div *ngIf="item.status !== 'completed'" class="group hover:h-8 hover:w-8 hover:bg-green-500 hover:text-white hover:rounded-full flex justify-center items-center "
                                (click)="updateStatus(item.title)">
                                <i class="bi bi-check-lg text-green-500 text-2xl cursor-pointer  group-hover:text-white"></i>
                            </div>
                           
                            <div *ngIf="item.status !== 'completed'" class="group hover:h-8 hover:w-8 hover:bg-blue-700 hover:text-white hover:rounded-full flex justify-center items-center "
                            (click)="editTask(item)">
                                <i class="bi bi-pencil-fill text-blue-700 text-1xl cursor-pointer  group-hover:text-white"></i>
                            </div>

                            <div class="group hover:h-8 hover:w-8 hover:bg-red-500 hover:text-white hover:rounded-full flex justify-center items-center "
                            (click)="deleteById(item.id)">
                                <i class="bi bi-trash3 text-red-500 text-1xl cursor-pointer  group-hover:text-white"></i>
                            </div>
                        </div>
                        </div>
                        
                    </div>
                </div> 
                
                <div *ngIf="storeRecord === []" class="p-5 flex justify-between items-center h-96">
                    <div class="border border-dashed ps-3 text-center text-gray-400 m-auto no-task">
                    <p>No task available</p>
                    </div>
                </div>
            
      </div>
    </div>
  </div>
  
  
  
  <div class="modal" id="create-task">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title">Add Task</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="reset()"></button>
        </div>
  
        <div class="modal-body">
          <form [formGroup]="form" >
            <div>
              <label for="title">Title</label>
              <input type="text" name="title" maxlength="20" class="input-style" formControlName="title">
              <div *ngIf="form.get('title')?.invalid && form.get('title')?.touched" class="validate">
                    <i class="bi bi-exclamation-circle"></i> Title is required
                </div>
             <div *ngIf="form.get('title')?.value?.length <= 3 && form.get('title')?.touched" class="validate">
                <i class="bi bi-exclamation-circle"></i>Title must be at least 4 characters long.
             </div>
            </div>
  
            <div class="my-3">
              <label for="description">Description</label>
              <textarea name="description" formControlName="description"  maxlength="120"
               class="border w-full h-20 outline-none p-1 rounded focus:ring-2 focus:ring-blue-300"></textarea>
               <div *ngIf="form.get('description')?.invalid && form.get('description')?.touched" class="validate">
                    <i class="bi bi-exclamation-circle"></i> Description is required
                </div>
                <div *ngIf="form.get('description')?.value?.length <= 3 && form.get('description')?.touched" class="validate">
                    <i class="bi bi-exclamation-circle"></i>Description must be at least 4 characters long.
                </div>
                <div *ngIf="form.get('description')?.value?.length <= 3 && form.get('description')?.touched" class="validate">
                    <i class="bi bi-exclamation-circle"></i>Description must be at above 120 characters long.
                </div>
            </div>
  
            <div>
              <label for="date">Execution Date</label>
              <input [min]="todayDate" name="date" formControlName="date" type="date" class="input-style">
              <div *ngIf="form.get('date')?.invalid && form.get('date')?.touched" class="validate">
                <i class="bi bi-exclamation-circle"></i> Date is required
                </div>
            </div>
  
            <div class="modal-footer mt-3">
              <button type="button" class="btn btn-danger" (click)="reset()" data-bs-dismiss="modal">Close</button>
              <button type="button" [disabled]="form.invalid" (click)="createTask()" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Edit task modal -->
  <div class="modal" id="edit-task">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title">Edit Task</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="reset()"></button>
        </div>
  
        <div class="modal-body">
          <form [formGroup]="form" >
            <div>
              <label for="title">Title</label>
              <input type="text" name="title" maxlength="20" class="input-style" formControlName="title">
              <div *ngIf="form.get('title')?.invalid && form.get('title')?.touched" class="validate">
                    <i class="bi bi-exclamation-circle"></i> Title is required
                </div>
             <div *ngIf="form.get('title')?.value?.length <= 3 && form.get('title')?.touched" class="validate">
                <i class="bi bi-exclamation-circle"></i>Title must be at least 4 characters long.
             </div>
            </div>
  
            <div class="my-3">
              <label for="description">Description</label>
              <textarea name="description" formControlName="description"  maxlength="120"
               class="border w-full h-20 outline-none p-1 rounded focus:ring-2 focus:ring-blue-300"></textarea>
               <div *ngIf="form.get('description')?.invalid && form.get('description')?.touched" class="validate">
                    <i class="bi bi-exclamation-circle"></i> Description is required
                </div>
                <div *ngIf="form.get('description')?.value?.length <= 3 && form.get('description')?.touched" class="validate">
                    <i class="bi bi-exclamation-circle"></i>Description must be at least 4 characters long.
                </div>
                <div *ngIf="form.get('description')?.value?.length <= 3 && form.get('description')?.touched" class="validate">
                    <i class="bi bi-exclamation-circle"></i>Description must be at above 120 characters long.
                </div>
            </div>
  
            <div>
              <label for="date">Execution Date</label>
              <input [min]="todayDate" name="date" formControlName="date" type="date" class="input-style">
              <div *ngIf="form.get('date')?.invalid && form.get('date')?.touched" class="validate">
                <i class="bi bi-exclamation-circle"></i> Date is required
                </div>
            </div>
  
            <div class="modal-footer mt-3">
              <button type="button" class="btn btn-danger" (click)="reset()" data-bs-dismiss="modal">Close</button>
              <button type="button" [disabled]="form.invalid" (click)="update()" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


<div class="modal" id="delete-task">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
    
            <div class="modal-header">
                <h2 class="modal-title text-3xl font-medium">Delete Task</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="reset()"></button>
            </div>
            <div class="modal-body text-center">
                <div class="text-center">
                    <h3 class="text-2xl font-normal">Are you sure you want to delete this task?</h3>
                    <p class="text-gray-500">This record will not be recovered</p>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-secondary" (click)="reset()" data-bs-dismiss="modal">Close</button>
                    <button type="button" [disabled]="form.invalid" (click)="deleteTask()" class="btn btn-danger">Delete</button>
                  </div>
            </div>
        </div>
    </div>
</div>